.title {
  color:red;
  display: flex;
  justify-content: center;
}

h1, h2 {
  display: flex;
  /* justify-content: center; */
}

.selected {
  background-color: red;
}

.songs li:hover {
  background-color: pink;
}



