<style>

.title {
  color:red;
  display: flex;
  justify-content: center;
}

h1, h2 {
  display: flex;
  /* justify-content: center; */
}

.selected {
  background-color: rgb(79, 128, 0);
}

</style>

<div class="content" role="main">
  <h1 class="title">{{ company }}にて{{ title }}</h1>
  <h1>Music List</h1>

  <ul class="songs">
    <!--リスト表示するためにディレクティブ ngFor を加える-->
    <!-- プロパティsongsから一件一件要素を取り出してli表示される -->

    <!-- クラスを動的に設定するクラスバインディング。=の後に条件式を書く-->
    <li *ngFor="let song of songs"
    [class.selected]="song === selectSong"
    (click)="onSelect(song)">
      <span>Genre: {{ song.genre }}</span>
      <br>
      <span>Country: {{ song.country }}</span>
      <br>
    </li>
  </ul>


  <h2>選択されたMusic</h2>
  <music-detail [song]="selectSong"></music-detail>
   <!-- ngIfを使うとその条件にあった時だけdiv内を表示することができる -->
   <!-- <div *ngIf="selectSong">
    <h1>{{ selectSong.country }}</h1>
    <input [(ngModel)]="selectSong.bpm" placeholder="text" class="genre-input">
    <h1>{{ selectSong.genre }}</h1>
    <br>
  </div> -->

</div>

<router-outlet></router-outlet>
